#i1{
    width: 1439px;
}
#i2{
    width: 524px;
    margin-top: 25vh;
}
#i3
{
    width: 856px;
}
#SG{
    width: 109px;
    height: 40px;
}
#Search{
    width: 222px;
    height: 40px;
}
#mynavbar{
    left: 100px ;
}